torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
diffusers==0.29.2
accelerate==0.25.0
opencv-python==4.9.0.80
imageio==2.34.1
matplotlib
transformers==4.41.1
einops==0.8.0
datasets==2.19.1
numpy==1.26.4
pillow==10.4.0
tqdm==4.66.4
urllib3==2.2.2
zipp==3.19.2
peft==0.13.2
scipy==1.13.1
av==14.0.1